<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Произвести продукцию</title>
</head>
<body>

<form th:method="POST" th:action="@{/production}" th:object="${production}">
    <label for="fio">Enter Data: </label>
    <input type="text" th:field="*{date}" id="fio"/>
    <br/>
    <label for="adres">Enter Kolvo:</label>
    <input type="text" th:field="*{kolvo}" id="adres"/>
    </br>  
     <label for="oklad">Enter summa:</label>
    <input type="text" th:field="*{summa}" id="oklad"/>
    </br>
    <label for="edin">Enter Sotrudnik:</label>
      <select id="edin" th:field="*{sotrudnik}">
            <option th:each="user : ${sotrudnik}"
                    th:text="${user.getFio()}"
                    th:value="${user.getId()}">
        </select>
    </br>
     <label for="edin2">Enter Product:</label>
    <select id="edin2" th:field="*{product}">
            <option th:each="user : ${products}"
                    th:text="${user.getName()}"
                    th:value="${user.getId()}">
        </select>
    </br>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>