<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Syrie</title>
</head>
<body>

<form th:method="POST" th:action="@{/syriies}" th:object="${syrie}">
<label for ="id">Enter id:</label>
<input type="text" th:field="*{id}" id="id"/>
</br>
    <label for="fio">Enter kolvo: </label>
    <input type="text" th:field="*{kolvo}" id="fio"/>
    <br/>
    <label for="adres">Enter name:</label>
    <input type="text" th:field="*{name}" id="adres"/>
    </br>  
     <label for="oklad">Enter summa:</label>
    <input type="text" th:field="*{summa}" id="oklad"/>
    </br>
    <label for="edin">Enter edinica:</label>
    <select id="edin" th:field="*{edinica}">
            <option th:each="user : ${edinica}"
                    th:text="${user.getName()}"
                    th:value="${user.getId()}">
        </select>
    </br>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>